.table-cell {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.expanded-cell {
  white-space: pre-wrap;
  background-color: #f0f0f0;
  position: relative;
  z-index: 1;
}